{% extends "base.html.twig" %}

{% block body %}

    <h2>{{ zoneId }} / {{ path  }}</h2>
{#    {% for file in files %}#}
{#        {{ dump(file) }}#}
{#    {% endfor %}#}

{#    {% endblock %}#}
{#    {% block x %}#}

    {% set columns = [
        'type',
        'path',
        'extraMetadata',
    ] %}
    <twig:simple_datatables
            perPage="20"
            :caller="_self"
            :columns="columns"
            :data="files"
    >
        <twig:block name="path">
            <a href="{{ path('survos_storage_zone', {zoneId: zoneId, path: row.path}) }}">
                {{ row.path }}
            </a>
        </twig:block>

        <twig:block name="extraMetadata">
            {{ row.extraMetadata|json_encode }}
        </twig:block>

        <twig:block name="Length">
            {{ row.IsDirectory ? '(dir)' : (row.Length)|number_format(0) }}
        </twig:block>

    </twig:simple_datatables>
{% endblock %}
